<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <task:annotation-driven />

    <context:component-scan base-package="com.brewery.admin">
        <context:include-filter type="regex" expression=".*dao"/>
        <context:include-filter type="regex" expression=".*service"/>
    </context:component-scan>

    <context:component-scan base-package="com.brewery.content">
        <context:include-filter type="regex" expression=".*dao"/>
        <context:include-filter type="regex" expression=".*service"/>
    </context:component-scan>

    <context:component-scan base-package="com.brewery.services">
        <context:include-filter type="regex" expression=".*servlets"/>
    </context:component-scan>

    <context:component-scan base-package="com.brewery.exceptions">
        <context:include-filter type="regex" expression=".*servlets"/>
    </context:component-scan>

    <context:component-scan base-package="com.brewery.utils">
        <context:include-filter type="regex" expression=".*processors"/>
    </context:component-scan>

    <context:component-scan base-package="com.brewery.web">
        <context:include-filter type="regex" expression=".*servlets"/>
    </context:component-scan>

    <context:annotation-config/>

    <mvc:annotation-driven validator="validator"/>
    <bean id="validator" class="net.sf.oval.integration.spring.SpringValidator" >
        <property name="validator">
            <bean class="net.sf.oval.Validator" />
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="157286400"/>
    </bean>

</beans>