/*---- FONTS START ----*/
@font-face {
  font-family: 'arkhipregular';
  src: url('./fonts/arkhip_font-webfont.eot');
  src: url('./fonts/arkhip_font-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/arkhip_font-webfont.woff2') format('woff2'),
  url('./fonts/arkhip_font-webfont.woff') format('woff'),
  url('./fonts/arkhip_font-webfont.ttf') format('truetype'),
  url('./fonts/arkhip_font-webfont.svg#arkhipregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'akrobatbold';
  src: url('./fonts/akrobat-bold-webfont.eot');
  src: url('./fonts/akrobat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/akrobat-bold-webfont.woff2') format('woff2'),
  url('./fonts/akrobat-bold-webfont.woff') format('woff'),
  url('./fonts/akrobat-bold-webfont.ttf') format('truetype'),
  url('./fonts/akrobat-bold-webfont.svg#akrobatbold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'akrobatextralight';
  src: url('./fonts/akrobat-extralight-webfont.eot');
  src: url('./fonts/akrobat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/akrobat-extralight-webfont.woff2') format('woff2'),
  url('./fonts/akrobat-extralight-webfont.woff') format('woff'),
  url('./fonts/akrobat-extralight-webfont.ttf') format('truetype'),
  url('./fonts/akrobat-extralight-webfont.svg#akrobatextralight') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'akrobatregular';
  src: url('./fonts/akrobat-regular-webfont.eot');
  src: url('./fonts/akrobat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/akrobat-regular-webfont.woff2') format('woff2'),
  url('./fonts/akrobat-regular-webfont.woff') format('woff'),
  url('./fonts/akrobat-regular-webfont.ttf') format('truetype'),
  url('./fonts/akrobat-regular-webfont.svg#akrobatregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'akrobatextrabold';
  src: url('./fonts/akrobat-extrabold-webfont.eot');
  src: url('./fonts/akrobat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/akrobat-extrabold-webfont.woff2') format('woff2'),
  url('./fonts/akrobat-extrabold-webfont.woff') format('woff'),
  url('./fonts/akrobat-extrabold-webfont.ttf') format('truetype'),
  url('./fonts/akrobat-extrabold-webfont.svg#akrobatextrabold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'akrobatsemibold';
  src: url('./fonts/akrobat-semibold-webfont.eot');
  src: url('./fonts/akrobat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/akrobat-semibold-webfont.woff2') format('woff2'),
  url('./fonts/akrobat-semibold-webfont.woff') format('woff'),
  url('./fonts/akrobat-semibold-webfont.ttf') format('truetype'),
  url('./fonts/akrobat-semibold-webfont.svg#akrobatsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}
/*---- FONTS END ----*/
