$font-family-arkhipregular:  "arkhipregular";
$font-family-akrobatbold:  "akrobatbold";
$font-family-akrobatextralight:  "akrobatextralight";
$font-family-akrobatregular:  "akrobatregular";
$font-family-akrobatextrabold:  "akrobatextrabold";
$font-family-akrobatsemibold:  "akrobatsemibold";
