{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true}],
    "comma-dangle": "off",
    "no-console": "off",
    "max-len": [
      "warn",
      140
    ],
    "object-shorthand": "off",
    "class-methods-use-this": [0]
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  }
}